<h3>AppLaunch</h3>

@code {
    //protected override async Task OnInitializedAsync()
    //{
    //    //string userDetails = await SecureStorage.GetAsync(nameof(Settings.))
    //    return base.OnInitializedAsync();
    //}
}
