@using LoginFlowInMauiBlazorApp1.Models;
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager;


    @if (Settings.UserBasicDetail != null)
    {
        <NavMenu />
        @Body
        <BottomMenu />
        <Sidebar />
    }
    else
    {
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    }


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("eval", "loadSplide()");

            StateHasChanged();

        }
    }

    protected override void OnInitialized()
    {
        NavManager.LocationChanged += HandlerLocationChanged;
    }

    private void HandlerLocationChanged(object sender, LocationChangedEventArgs e)
    {
        LoadSplide();
        RemoveModalBackDrop();
    }

    private async void RemoveModalBackDrop()
    {
        string script = @"
var elements = document.getElementsByClassName('modal-backdrop');



Array.from(elements).forEach(function(element) {
  element.remove();
});";

        // removes the grey overlay.
        await JSRuntime.InvokeVoidAsync("eval", script);
    }
    private async void LoadSplide()
    {
        await JSRuntime.InvokeVoidAsync("eval", "loadSplide();");
    }

}